<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GuiaPerguntas Perfil</title>
</head>
<body>
    <h1>Bem-vindx !</h1>
    <p>Pagina Perfil</p>
</body>
</html>