<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand" href="/">
        <img src="/img/guia.png" alt="">
    </a>
    <button class="navbar-toggler"type="button" data-toggle="collapse" data-target="#navbar-mobile">
        <span class="navbar-toggler-icon"></span> 
    </button>

    <div class="collapse navbar-collapse" id="navbar-mobile">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/perguntar">Perguntar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="https://github.com/sisouza/ProjetoGuiaPerguntas" target="_BLANK" tabindex="-1">Sobre</a>
          </li>
        </ul>
    </div>    
</nav> 