<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GuiaPerguntas</title>
</head>
<body>
    <h1>Bem-vindx !</h1>
    <h2>Guia Perguntas versão 1</h2>
    <p>Exibindo Variaveis com EJS</p>
        <!-- variaveis ejs -->
    <p><b>Nome:</b> <%= nome %></p>
    <p><b>Linguagem</b>: <%= lang %></p>
    <p><b>Hobbie:</b> <%= hobbie %> </p>  
</body>
</html>